---
import SeedTable from '../components/SeedTable.astro';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>U2 Seeds</title>
  </head>
  <body>
    <h1>U2 Seeds</h1>
    <SeedTable />
  </body>
</html>
