---
import SeedTable from '../components/SeedTable.astro';
import FilterPanel from '../components/FilterPanel.astro';

import '../styles/index.css';
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/u2-seeds/favicon.svg" />
    <link rel="icon" href="/u2-seeds/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>U2 Seeds</title>
  </head>
  <body>
    <h1>U2 Seeds</h1>
    <FilterPanel />
    <p class="guide">Seed をクリックでコピー</p>
    <p id="result-count">検索結果: --- 件</p>
    <SeedTable />
  </body>
</html>
